<div class="notes-wrapper">
  <fon-note
    *ngFor="let note of filteredNotes" [note]="note"
    (editClicked)="onEditClicked($event)"
    (deleteClicked)="onDeleteClicked($event)">
  </fon-note>
</div>

<button class="new-note-button" mat-fab color="primary" (click)="addNewNote()">
  <i class="material-icons" title="New Note">add</i>
</button>

<div class="notes-background-overlay" [class.visible]="showBackgroundOverlay"></div>

<router-outlet
  name="note"
  (activate)="noteDetailsActivated($event)"
  (deactivate)="noteDetailsDeactivated()">
</router-outlet>
