:host {
  margin-right: 20px;
  margin-bottom: 20px;
}

.note-wrapper {
  max-width: 400px;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 40px;
}
